@media (max-width: 575.5px){
    .card__image{
        width: 100% !important;
    }
}

.card_button_2{
    display: none;
}

@media (max-width: 425.9px){
    .card__button{
        display: none !important;
    }

    .card_button_2{
        display: block !important;
    }
}